[color]
	ui = true
[user]
	name = Wang Long
	email = wanglong@laoqinren.net
[sendemail]
	smtpserver = EMAIL_SERVER_IP
	smtpserverport = 25
	smtpencryption =
	smtpuser = USER_NAME
	suppresscc=all
	confirm = auto
[commit]
	template = ~/.gitmessage.txt
[core]
	editor = vim
	autocrlf = input
	safecrlf = true
[alias]
	ci = commit
	co = checkout
	br = branch
	st = status
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	lo = log --pretty=oneline
[http]
	sslverify = false
[push]
	default = simple
